body,textarea,input,select,option{font-family:"微软雅黑";}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,textarea,input,select,option,form{margin:0;border: 0;}
th,td,ul,ol,textarea,input,select,option{padding:0}
a{text-decoration:none;color:#333}a,textarea,input{outline:none}
textarea{overflow:auto;resize:none}
table{border-collapse:collapse}
li{list-style:none}
a img{border:none}
html{
	height: 30rem;
}
body{background-color:#fff;height: auto;}
.fl{float:left}.fr{float:right}
.clear{clear:both;height:0;overflow:hidden}
.clears:before,.clears:after{content:'';display:table}
.clears:after{clear:both}.clears{zoom:1}
.img img{display:block}label,label input{vertical-align:middle}
.btn{cursor:pointer;border:none}
.rel{position:relative}
.abs{position:absolute}

body{background-color:#fff;}

/*i,em{font-style: normal;}
del{text-decoration: none;}
input{border: none;outline: none;}
b{font-weight: normal;}*/

.ql_head{
	width: 100%;
	height:2.25rem;
	background:#fff;
	position: fixed;
	z-index: 300;
	top: -1px;
}
.qi_head_left{
	width: 2.4rem;
	height: 2.18rem;
	border-right: #f1f1f1 solid 1px;
	color: #333;
	font-size: 0.6rem;
	float: left;
	text-align: center;
	line-height: 2.25rem !important;
}

 .red{
			 	background-color: #65CEA7;
			 	color: #fff;
}
.qi_head_right{
	width: auto;
	height: 2.25rem;
	float: right;
	display: -webkit-box;
	margin-right: 0.8rem;
}
.ql_right1{
	-webkit-box-flex: 1;
	text-align: center;
	line-height: 2.25rem !important;
	font-size: 0.85rem;
	color: #333;
}
.ql_right2{
	width: 2.1rem;
    height: 1rem;
    margin-right: 0.4rem;
    height: 1.8rem;
    float: left;
    background: url(../images/ql_img.jpg) no-repeat;
    background-size: 2.2rem 1.5rem;
    background-position: 0rem 0.3rem;
}
.ql_right3{
	-webkit-box-flex: 1;
	line-height: 2.25rem !important;
	color: #333;
	text-align: left;
	font-size: 0.7rem;
}
.ql_gr{
	width: 6rem;
	height: 0rem;
	background: #65CEA7;
	position: absolute;
    z-index: 60;
        -margin-right: 0.65rem;
    right: 0;
    display: block;
    transition: 0.8s;
    overflow: hidden;
}
.ql_gr li{
	line-height: 1.8rem;
	font-size: 0.55rem;
    color: #fff;
    text-align: center;
}
.ql_gr li:hover{
	background: #333;
}
.ql_spgl{
	position: relative;
}
.ql_spg2{
	position: relative;
}
.jh{
	position: absolute;
	right: 0.55rem;
	top: 0.74rem;
	font-size: 0.5rem;
	    font-size: 0.6rem;
    font-family: "微软雅黑";
}
.jh2{
	position: absolute;
	right: 0.55rem;
	top: 0.74rem;
	font-size: 0.5rem;
	    font-size: 0.6rem;
    font-family: "微软雅黑";
}
.ql_cont{
	height: 45rem;

}
.ql_zc{
	width: 6.45rem;
	height: 30rem;
	
	display: block;
		background: #424F63;
	float: left;
	position: fixed;
	z-index: 299;
	top: 1.3rem;
	transition: 0.8s;
	transform: translateX(-7rem);
}
.ql_xl{
	display: none;
}
.ql_xl2{
	display: none;
}
.ql_zc1{
	width: 6.25rem;
	height: 5.35rem;
	overflow: hidden;
	border-bottom: #545F72 solid 1px;
}
.ql_zc1_n{
	width: 5rem;
	height: 2rem;
	margin: 0 auto;
	margin-top: 2rem;
	overflow: hidden;
}
.ql_zc1_n i{
	width: 47px;height: 47px;
	background: url(../images/ql_img.jpg) no-repeat;
	background-size: 100% 100%;
	display: block;
	float: left;
	overflow: hidden;
}
.ql_zc1_n i img{
	width: 100%;
	height: 100%;
}
.ql_zc1_n span{
	color: #fff;
	font-size: 0.65rem;
	margin-left: 3rem;
	margin-top: 0.5rem;
	display: block;
}
.ql_zc2{
	width: 6.45rem;
	height: auto;
}
.ql_zc2 li{
	line-height: 2rem;
	font-size: 0.55rem;
	color: #fff;
	text-align: center;
}
.ql_zc2 li span{
	width: 0.65rem;
	height: 0.7rem;
	 vertical-align: middle
}
.fa{
	    font-size: 0.75rem;
    vertical-align: middle;
    margin-right: 0.55rem;
    /* width: 16px; */
    text-align: center;
}

.ql_zy_cont{
	width:100% ;
	height: auto;
	background: #EFF0F4;
	overflow: hidden;
	position: absolute;
	top: 2.3rem;
}
.ql_cont_one{
	height: 10.375rem;
	background: #fff;
	position: relative;
	margin: 0.8rem 0.65rem 0.8rem 0.65rem;
}
.ql_cont_one_tx{
	width: 6.5rem;
	height: 6.5rem;
	background: darkgray;
	border-radius: 50%;
	position: absolute;
	left: 50%;right: 0;bottom: 0;top: 50%;
	margin-top: -3.25rem;
	margin-left: -3.25rem;
	background: url(../images/tx.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.ql_cont_one_tx img{
	width: 100%;
	height: 100%;
}
.ql_cont_er{
	height: 10.2rem;
	background: #fff;
	font-size: 0.525rem;
	margin: 0.8rem 0.65rem 0.8rem 0.65rem;
}
.ql_cont_er td{
	height: 1.95rem;
}
.ql_cont_san{
	height: auto;
	background: #fff;
	line-height: 2rem;
	margin: 0.8rem 0.65rem 0 0.65rem;
	padding-bottom: 0.5rem;
	padding: 0.5rem;
}

::-webkit-scrollbar/*整体部分*/
{
width: 10px;
height:10px;
}

::-webkit-scrollbar-track/*滑动轨道*/
{
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
border-radius: 0px;
background: rgba(102,204,153,0.2);
}

::-webkit-scrollbar-thumb/*滑块*/
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: rgba(102,204,153,1);
}

::-webkit-scrollbar-thumb:hover/*滑块效果*/
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: rgba(102,204,153,1);
}

.ql_xl p:hover{
	background: #333;
}
.xg{
	position: relative;
}
.xg_name{
	color: red;
	position: absolute;
	    top: 1.5rem;
    right: 0.5rem;
    display: none;
}
.sctp{
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0;
	z-index: 555;
	box-shadow: 0 0 5px #939393;
	background: white;
	overflow: hidden;
	padding: 0.5rem;
	transition: 1s;
    transform: translateY(5.7rem);
}
.sctp li{
	width: 100%;
	height: 2rem;
	background: #424f63;
	border-top: #f1f1f1 1px solid;
	text-align: center;
	line-height: 2rem;
	color: #fff;
	margin-bottom: 5px;
	border-radius: 5px;
}
.file {
    position: relative;
    display: inline-block;
    background: #424f63;
    border-radius: 4px;
    padding: 8px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    color: #fff;
    width: 100%;
    height: 100%;
}
.file input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #333;
    text-decoration: none;
}
.sctp li:hover{
	background: #AADFFD;
    border-color: #78C3F3;
    color: #333;
    text-decoration: none;
}