<div ng-include="'views/head_ql.html'"></div>
<div ng-controller="chakan1">
<div class="zy_spl">
		<p class="zy_p">审批管理</p>
	    <p class="zy_op">OPMS <i>/</i>审批管理 <i>/</i><span>请假单详情</span></p>

</div>
<div class="zy_bxd">
	     <h2>请假单</h2>
	     <p>{{data.uid}}</p>
	     <table border="" cellspacing="" cellpadding="" class="table">
	     	<tr>
	     		<td>姓名</td>
	     		<td  colspan="5" style="text-align: left;padding-left: 0.8rem;">{{data.uid}}</td>
	     
	     	</tr>
	     	<tr>
	     		<td>类型</td>
	     		<td colspan="5" style="text-align: left;padding-left: 0.8rem;">{{data.leixing}}</td>
	     	</tr>
	     	<tr>
	     		<td>事由</td>
	     		<td colspan="5" style="text-align: left;padding-left: 0.8rem;">{{data.shiyou}}</td>
	     	</tr>
	     	<tr>
	     		<td>日期</td>
	     		<td colspan="5" style="text-align: left;padding-left: 0.8rem;">{{data.shijian1}}</td>
	     	
	     	</tr>
	     	<tr>
	     		<td>状态</td>
	     		<td colspan="5" style="text-align: left;padding-left: 0.8rem;">{{data.zhuangtai}}</td>
	     		
	     	</tr>
	   	<tr>
	     		<td>请假天数</td>
	     		<td colspan="5" style="text-align: left;padding-left: 0.8rem;">{{data.shijian2}}</td>
	     		
	     	</tr>
	     </table>
	     <div class="zy_jd">
	     	  <p>审批人进度</p>
	     	  <a href="" ng-click="tongyi()">同意</a>
	     </div>
</div>
<div class="zy_spr">
	<h1>审批人</h1>
	<dl>
		
		<dd>
			<h3><a href="">{{data.shenpiren}}</a></h3>
			<h3>审批结果</h3>
			<p><a href="" style="display: block; width: 3rem;">{{data.zhuangtai}}</a></p>
		</dd>
	</dl>

</div>

<div class="zy_footer">
	  <p>2016&ensp;@&ensp;Admin&ensp;by&ensp;Lock&ensp;<span>OPMS官网·OPMS手册</span></p>
</div>
</div>