
<div ng-include="'views/head_ql.html'"></div>  
<div ng-controller="chakan" class="zyx_box""> 
<div class="zyx_spl">  
		<p class="zyx_p">审批管理</p>  
	    <p class="zyx_op">OPMS <i>/</i>审批管理 <i>/</i><span>报销单详情</span></p> 
	  	    <a ui-sref="manage">返回</a>
	  	    <a ui-sref="baoxiu">+我要报销</a>   
</div>
<div class="zyx_bxd">  
	     <h2>报销单</h2>
	     <p>by 刚刚 | 2016-09-26 16:38</p> 
	     <table border="" cellspacing="" cellpadding="" class="chakantable">
	     	<tr>
	     		<th>姓名</th>
	     		<td>{{data.uid}}</td>
	     	</tr> 
	     
	     	<tr>
	     		<th>金额</th> 
	     		<td>{{data.zhuzhi}}</td>
	     	</tr>
	     	<tr>
	     		<th>类型</th>
	     		<td>{{data.xiangqing}}</td>
	     	</tr>
	     	<tr>
	     		<th>明细</th>
	     		<td>{{data.zhuangtai}}</td>
	     	</tr>
	     </table>
	     <div class="zyx_jd">
	     	  <p>审批人进度</p>
	     	  <a href="" ng-click="tongyi()">同意</a>
	     </div>
</div>


<div class="zyx_footer">
	  <p>2016&ensp;@&ensp;Admin&ensp;by&ensp;Lock&ensp;<span>OPMS官网·OPMS手册</span></p>
</div>
</div>