<div ng-controller="qll">
	<div style="background: #EFF0F4;">
	<div ng-include="'views/head_ql.html'"></div>
	 
	 <div class="ql_zy_cont">
		 	  <div class="ql_cont_one" ng-controller="tx">
		 	  	   <div class="ql_cont_one_tx">
		 	  	   	    <img src="{{a.base}}" ng-repeat="a in touxian"/>
		 	  	   </div>
		 	  </div>
		 	  <!--<ul ng-repeat="i in touxian">
		 	  	<li><img src="{{i[3].base}}"/></li>
		 	  </ul>-->
		 	  <div class="ql_cont_er">
		 	  	  <table class="table table-hover" >
		 	  	  	  <tr>
		 	  	  	  	 <td style="text-align: left;width: 0.6rem;vertical-align: inherit;">姓名</td>
		 	  	  	  	 <td class="text-success"  style="text-align: left;vertical-align: inherit;">
		 	  	  	  	 	{{loginName}}
		 	  	  	  	 	<!--<input type="text" ng-model="loginName" style="width: 10rem;background: none;border: none;" maxlength="4" />-->
		 	  	  	  	 </td>
		 	  	  	  </tr>
		 	  	  	  <tr>
		 	  	  	  	 <td  style="text-align: left;vertical-align: inherit;">性别</td>
		 	  	  	  	 <td class="text-success"  style="text-align: left;vertical-align: inherit;">
		 	  	  	  	 	{{loginNan}}
		 	  	  	  	 	<!--<input type="text" ng-model="loginNan" style="width: 10rem;background: none;border: none;" maxlength="1" />-->
		 	  	  	  	 </td>
		 	  	  	  </tr>
		 	  	  	  <tr>
		 	  	  	  	 <td  style="text-align: left;vertical-align: inherit;">生日</td>
		 	  	  	  	 <td class="text-success"  style="text-align: left;vertical-align: inherit;">
		 	  	  	  	 	{{loginSheng|limitTo:10}}
		 	  	  	  	 	<!--<input type="text" ng-model="loginSheng" style="width: 10rem;background: none;border: none;" />-->
		 	  	  	  	 
		 	  	  	  	 </td>
		 	  	  	  </tr>
		 	  	  	  <tr>
		 	  	  	  	 <td  style="text-align: left;vertical-align: inherit;">电话</td>
		 	  	  	  	 <td class="text-success"  style="text-align: left;vertical-align: inherit;">
		 	  	  	  	 	{{loginTel}}
		 	  	  	  	 	<!--<input type="text" ng-model="loginTel" style="width: 10rem;background: none;border: none;" />-->
		 	  	  	  	 </td>
		 	  	  	  </tr>
		 	  	  	  <tr>
		 	  	  	  	 <td  style="text-align: left;vertical-align: inherit;">邮箱</td>
		 	  	  	  	
		 	  	  	  	 <td class="text-success"  style="text-align: left;vertical-align: inherit;">
		 	  	  	  	 	 {{loginEmail}}
		 	  	  	  	 	<!--<input type="text" ng-model="loginEmail" style="width: 10rem;background: none;border: none;" />-->
						</td>
		 	  	  	  </tr>
		 	  	  </table>
		 	  </div>
		 	  <div class="ql_cont_san" ng-controller="ds">
		 	  		公告
		 	  		<table class="table table-hover table-striped table-bordered table-condensed">
		 	  			<tr>
		 	  				<td style="vertical-align: inherit;">名称</td>
		 	  				<td style="vertical-align: inherit;">描述</td>
		 	  				<td style="vertical-align: inherit;">时间</td>
		 	  			</tr>
		 	  			<tr ng-repeat="i in data">
		 	  				<td style="vertical-align: inherit;">{{i.biao}}</td>
		 	  				<td style="vertical-align: inherit;">{{i.xiangqing}}</td>
		 	  				<td ng-bind="i.shijian | date:'yyyy年MM月dd日HH:mm:ss'" style="vertical-align: inherit;"></td>
		 	  			</tr>
		 	  		</table>
		 	  </div>	
		 	  
		 	  <div id="calendar"></div>
		 </div>
	  
	    <div class="sctp">
	    	<ul>
	    		<li style="margin-top: 0;">
	    			<a href="javascript:;" class="file" id="">选择文件
					    <input type="file" name="" id="demo_input">
					</a>
	    		</li>
	    		<li style="margin-bottom: 0;" ng-click="a()">确定</li>
	    	</ul>
	    </div>
	 
</div>
<script> 
var myCalendar = new SimpleCalendar('#calendar');

</script>
<!--<script>
	$('.qi_head_left').click(function(){
		 $('.qi_head_left').css({"background":"#65CEA7","color":"#fff"})
		$('.ql_zc').css({"display":"block"})
		if( $(".ql_zc").hasClass("show") ){
            // 执行隐藏
            $(".ql_zc").hide().removeClass("show");
            $('.qi_head_left').css({"background":"none","color":"#333"})
            // 其他
        }else{
            // 显示
            $(".ql_zc").show().addClass("show");
        }
	})
	$('.ql_spgl').click(function(){
		 $('.ql_spgl').css({"background":"#65CEA7","color":"#fff"})
		$('.ql_xl').css({"display":"block"})
		if( $(".ql_xl").hasClass("show") ){
            // 执行隐藏
            $(".ql_xl").hide().removeClass("show");
            $('.ql_spgl').css({"background":"none","color":"#fff"})
            // 其他
        }else{
            // 显示
            $(".ql_xl").show().addClass("show");
        }
	})
	$('.ql_spg2').click(function(){
		 $('.ql_spg2').css({"background":"#65CEA7","color":"#fff"})
		$('.ql_xl2').css({"display":"block"})
		if( $(".ql_xl2").hasClass("show") ){
            // 执行隐藏
            $(".ql_xl2").hide().removeClass("show");
            $('.ql_spg2').css({"background":"none","color":"#fff"})
            // 其他
        }else{
            // 显示
            $(".ql_xl2").show().addClass("show");
        }
	})
	
	$('.ql_right3').click(function(){
		 $('.ql_right3').css({"background":"#f1f1f1","color":"#333"})
		$('.ql_gr').css({"display":"block"})
		if( $(".ql_gr").hasClass("show") ){
            // 执行隐藏
            $(".ql_gr").hide().removeClass("show");
            $('.ql_right3').css({"background":"none","color":"#333"})
            // 其他
        }else{
            // 显示
            $(".ql_gr").show().addClass("show");
        }
	})
	
</script>-->
</div>
