<div ng-include="'views/head_ql.html'"></div>
<div ng-include="'views/head_ql.html'"></div>
<div class="zy-box" ng-controller="zyqj"  style="margin-top: 3rem;">
	<div class="zy-sp">
	     <p class="zy-sp-gl">审批管理</p>
	  <p class="zy-qj">OPMS<i>/</i>审批管理<i>/</i><span>请假</span></p>
	  <p class="zy-gnan">
	  <a style="display:none">待审批</a>
	  <a ui-sref="woyaoqingjia">+我要请假</a>
	  </p>
	</div>
	<div class="zy-content">
		<ul>
			<p class="zy-zts">请假<i>/</i>总数:<span>6</span><img ng-src="{{zy_img}}"   ng-click="zy_xiala()"/></p>
				<table class="table table-hover" ng-show="zybool">
		<tbody>
			<tr>
				<td>类型</td>
				<td>天数</td>
				<td>请假人</td>
				<td>结果</td>
				<td>操作</td>
			</tr>
			<tr ng-repeat="a in data">
				<td>{{a.leixing}}</td>
				<td>{{a.shijian2}}</td>
				<td>{{a.uid}}</td>
				<td class="success">{{a.zhuangtai}}</td>
				<td><span ui-sref="chakan1({ccc:a.id})">查看</span></td>
			</tr>
	
	
		</tbody>
	</table>
			
		</ul>
	</div>
	<div class="zy-bottom">
		2016 @ Admin by Lock <span>OPMS官网 ·OPMS手册</span>
	</div>

	
</div>


