<div ng-controller="qll">
	<div ng-include="'views/head_ql.html'"></div>
	<form style="margin-top: 2rem;">
	  <div class="form-group">
	    <label for="exampleInputEmail1">姓名</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入你的用户名" ng-model="xm" maxlength="4">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">性别</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入你的性别" ng-model="nan" maxlength="1">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">生日</label>
	    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="输入你的生日" ng-model="sr">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">邮箱</label>
	    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="请输入你的邮箱" ng-model="yx">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">手机号</label>
	    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="请输入你的手机号" ng-model="sjh">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">qq</label>
	    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="请输入你的qq号" ng-model="qqh">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">住址</label>
	    <textarea class="form-control" id="exampleInputtext1" placeholder="请" ng-model="zhuzhi"></textarea>
	  </div>
	  <button type="button" class="btn btn-success" ng-click="zlxg()">点击修改</button>
	</form>
</div>