<div ng-include="'views/head_ql.html'"></div>
	<div class="wyqj-box">
		<div class="zy-sp">
	     <p class="zy-sp-gl">审批管理</p>
	  <p class="zy-qj">OPMS<i>/</i>审批管理<i>/</i><span>请假</span></p>

	</div>
	<div class="zy-content">
		<div class="zy-zwhz"></div>
	<div class="zy-qjlx">
	
		<p>任务类型</p>
		<select name="type" class="zy-qjsy">
                      <option value="">请选择任务类型</option>
                      <option value="1" >事假</option>
                      <option value="2" >病假</option>
                      <option value="3" >年假</option>
                      <option value="4" >调休</option>
                      <option value="5" >婚假</option>
                      <option value="6" >产假</option>
                      <option value="7" >陪产假</option>
                      <option value="8" >路途假</option>
                      <option value="9" >其他</option>
                    </select>
                    <p>请假日期</p>
                    <input class="zy-qjrq"/>
                    <p>请假天数</p>
                    <input class="zy-qjts"/>
                    <p>请假事由</p>
                    <textarea name="reason" placeholder="请假事由，如世界很大，我想出去走一走" style="height:200px;" class="zy-qjsm"></textarea>
                    <p>审批人</p>
                    <input class="zy-spr"/>
                    <br />
                    <div class="zy-bchz">
                    	 <a>提交保存</a>
                    </div>
                   
	</div>

	</div>
	<div class="zy-bottom-1">
		2016 @ Admin by Lock <span>OPMS官网 ·OPMS手册</span>
	</div>
</div>