<div ng-include="'views/head_ql.html'"></div>
<div class="wyqj-box" ng-controller="woyaoqingjia"  style="margin-top: 3rem;">
		<div class="zy-sp">
	     <p class="zy-sp-gl">审批管理</p>
	  <p class="zy-qj">OPMS<i>/</i>审批管理<i>/</i><span>请假</span></p>

	</div>
	<div class="zy-content">
		<div class="zy-zwhz"></div>
	<div class="zy-qjlx">
	
		<p>任务类型</p>
		<select name="type" class="zy-qjsy" ng-model="qjlx">
                      <option value="">请选择任务类型</option>
                      <option value="事假" >事假</option>
                      <option value="病假" >病假</option>
                      <option value="年假" >年假</option>
                      <option value="调休" >调休</option>
                      <option value="婚假" >婚假</option>
                      <option value="产假" >产假</option>
                      <option value="陪产假" >陪产假</option>
                      <option value="路途假" >路途假</option>
                      <option value="其他" >其他</option>
                    </select>
                    <p>请假日期</p>
                    <input class="zy-qjrq" ng-model="riqi" type="number" />
                    <p>请假天数</p>
                    <input class="zy-qjts" ng-model="tianshu"/>
                    <p>请假事由</p>
                    <textarea name="reason" placeholder="请假事由，如世界很大，我想出去走一走" style="height:200px;" class="zy-qjsm" ng-model="shiyou"></textarea>
                    <p>审批人</p>
                      <select name="type" class="zy-qjsy" ng-model="shenpiren">
                      <option value="">请选择审批人</option>
                      <option value="张毅" >张毅</option>
                      <option value="张迎雪" >张迎雪</option>
                      <option value="马金良" >马金良</option>
                      <option value="齐龙龙" >齐龙龙</option>                  
                    </select>
                    <br />
                    <p>请假人</p>
                    <input  ng-model="qjr"/>
                    <div class="zy-bchz" >
                    	 <a ng-click="Submit()">提交保存</a>
                    </div>
                   
	</div>

	</div>
	<div class="zy-bottom-1">
		2016 @ Admin by Lock <span>OPMS官网 ·OPMS手册</span>
	</div>
</div>