<div  ng-controller="zxx_bm">
	<div ng-include="'views/head_ql.html'"></div>
	<div class="zxx_bm">
	<div class="zxx_yggl">
		<p>员工管理</p>
		<p><span><a href="">OPMS</a></span> /<span><a href="">部门管理</a></span>/<span>部门</span><span>添加新部门</span></p>
	</div>
	<div class="zxx_tb">
		<p>部门管理/总数:<span class=""></span>
			<span ng-click="zxx_sq()" class="glyphicon glyphicon-chevron-down"></span>
		</p>
		<ul class="zxx_ul1" ng-hide="zxx_ul">
			<li><span>名称</span><span>描述</span><span>状态</span><span>操作</span></li>
		</ul>
	</div>
	<div class="zxx_tjxgg">
		<p>名称<input type="text" placeholder="请填写昵称"></p>
		<p>描述<textarea placeholder="请填写描述"></textarea></p>
		<p>
			<a href="">提交</a>
		</p>
	</div>
</div>
<footer>2016&copy;Admin by Lock
	<a href="">OPMS官网.OPMS手册</a>
</footer>
</div>