<div>
	<div ng-include="'views/head_ql.html'"></div>
<div class="zxx_bm" ng-controller="zxx_bm">
	<div class="zxx_yggl">
		<p>职称管理</p>
		<p><span><a href="">OPMS</a></span> /<span><a href="">部门管理</a></span>/<span >职位</span><span ui-sref="tianjiabm">添加新部门</span></p>
	</div>
	<div class="zxx_tb">
		<p>住户问题:<span>{{zhicheng.length}}</span>
			<span ng-click="zxx_sq()" ng-class="shangxia?'glyphicon glyphicon-chevron-down':'glyphicon glyphicon-chevron-up'"></span>
		</p>
		
		<table class="table table-hover table-bordered" ng-hide="zxx_ul">
			<tr>
				<td>名称</td>
				<td>描述</td>
				<td>操作</td>
			</tr>
			<tr ng-repeat="a in zhicheng">
				<td>{{a.zhiwei}}</td>
				<td>{{a.miaoshu}}</td>
				<td><a class="glyphicon glyphicon-trash" ng-click='zx_remove($index)'></a></td>
			</tr>
		</table>
	</div>
	
</div>
<footer>2016&copy;Admin by Lock
	<a href="">OPMS官网.OPMS手册</a>
</footer>
</div>